@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

/* globals.css o en tailwind.config.js usando extend */
.clip-navbar {
  clip-path: polygon(3% 0%, 98.5% 0%, 97.5% 100%, 0% 100%);
  border-radius: 5px; /* Suaviza las esquinas */
  overflow: hidden; /* Asegura que el contenido no se desborde */
}




@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

